{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block body %}
    <div>
        <h1>Aplikacja do zarządzania pokojami</h1>

        <div>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lacinia lacinia pulvinar. Pellentesque nibh nisi, commodo nec leo non, porttitor facilisis tellus. Nulla varius mauris quam, vitae lacinia justo dignissim ut. Aenean vel ante luctus, imperdiet enim nec, porttitor odio. Nulla rhoncus lorem orci, a vulputate nulla congue a. Maecenas malesuada aliquet varius. Vivamus eu turpis ultrices, dictum purus eget, dictum est. Sed cursus massa erat, nec vestibulum sem eleifend at.

                Quisque nec neque ut turpis tincidunt accumsan. Fusce aliquet, nulla a suscipit tristique, ipsum turpis sagittis erat, facilisis pretium urna ante sed quam. Donec sed cursus enim. Etiam dolor urna, suscipit sed dignissim eget, sodales sit amet arcu. Donec laoreet pharetra nisl non efficitur. Integer gravida ornare tortor sed malesuada. Vestibulum tempus ante vel rutrum bibendum. Donec nec elit et lorem eleifend rhoncus. Aenean nec metus finibus, lacinia lorem in, efficitur nisi. Donec nec lacinia urna. Nunc malesuada elit consectetur pharetra tincidunt. Nulla eu eros eget nisi tincidunt dapibus.

                Sed mollis, dolor eget facilisis maximus, metus metus imperdiet arcu, ut ultrices ex arcu vitae nisl. Quisque dictum scelerisque neque, quis euismod nisi volutpat in. Nulla sit amet semper purus. Fusce neque augue, pretium at mauris maximus, vulputate dictum ante. Donec auctor vel lorem ac convallis. Fusce ut risus quis justo imperdiet condimentum. Donec at gravida ante. Cras euismod dolor et lacus mollis dignissim. Fusce ipsum massa, varius eget ex ut, porttitor ultricies magna. Etiam a mauris nibh. Duis auctor luctus turpis, ut dapibus justo tincidunt nec.

                Proin condimentum tellus neque, eget placerat lorem finibus a. Nullam at odio quis dolor tempor condimentum. Morbi aliquet laoreet nibh nec accumsan. Phasellus ante ipsum, euismod in aliquet non, accumsan non urna. Nam a magna eleifend dui fermentum eleifend vel ac risus. Praesent lobortis, urna eget luctus ornare, arcu erat laoreet eros, ac tempus neque diam ac erat. Integer placerat lacus in odio malesuada, quis cursus tellus molestie.

                Mauris dictum facilisis felis, volutpat pulvinar velit tincidunt et. Aliquam tempus commodo augue eu interdum. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam metus ligula, vehicula tempor porttitor non, fringilla id arcu. Quisque fringilla dapibus ultricies. Etiam vel nulla ut dui cursus dapibus. Aliquam erat volutpat. Ut vulputate massa lorem, in viverra enim sagittis nec. Phasellus sit amet tellus in arcu feugiat tincidunt nec eu urna. Sed vitae tempor nibh, sed suscipit nibh. Morbi dapibus, diam id hendrerit dignissim, neque metus pellentesque augue, eu viverra erat eros nec lacus.</p>
        </div>
    </div>
{% endblock %}
