<form method="post" action="{{ path('app_pokoje_delete', {'id': pokoje.id}) }}" onsubmit="return confirm('Na pewno usunąć?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pokoje.id) }}">
    <button class="btn">Usuń</button>
</form>
