{% extends 'base.html.twig' %}

{% block title %}New Pokoje{% endblock %}

{% block body %}
    <h1>Create new Pokoje</h1>

    {{ include('pokoje/_form.html.twig') }}

    <a href="{{ path('app_pokoje_index') }}">Powrót do listy</a>
{% endblock %}
